form {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(33, 33, 33);
  width: 90%;
  height: 80%;
  border-radius: 10px;
}
label {
    width: 90%;
  text-align: center;
  color: white;
  font-size: 4em;
  font-weight: bold;
}
textarea {
  resize: none;
  width: 90%;
  height: 50%;
  text-align: center;
  padding: 10% 0px 5% 0px;
  font-size: 3em;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
textarea:focus {
  outline: rgba(15, 111, 115, 1) solid 2px;
}
.form-buttonContainer {
  width: 90%;
  display: flex;
  gap: 20px;
}
.formButton {
  font-size: 1.5em;
  background-color: rgb(33, 33, 33);
}

.formButton--cancel:hover span {
  color: white;
  position: relative;
  z-index: 2;
}

.formButton--cancel::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: calc(-100% - 150px);
  transition: 0.5s ease all;
  border-top: 60px solid rgba(50, 50, 50, 1);
  border-right: 150px solid transparent;
  z-index: 1;
}
