*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(33,33,33);
background: linear-gradient(133deg, rgba(33,33,33,1) 0%, rgba(50,50,50,1) 42%, rgba(15,111,115,1) 80%, rgba(20,255,236,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
